<?xml version="1.0" encoding="utf-8"?>
<!--Configure the whole uPlatform-->
<UTable xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <!--Configure whether to turn on debug mode-->
  <Debug>true</Debug>

  <!--Configure the display mode of uPlatform-->
  <Window>
    <Maximized>true</Maximized>
    <!--The following four properties will only be used when "Maximized" is set to false-->
    <Width>1000</Width>
    <Height>1080</Height>
    <Left>0</Left>
    <Top>0</Top>
  </Window>

  <!--Configure the tabletop environment of uPlatform-->
  <Tabletop>
    <Class Type="UTable.Objects.BlankTabletop" Assembly="UTable.Objects"/>
  </Tabletop>

  <!--Configure the inputs of uPlatform-->
  <Input>
    <Providers>
      <Provider>
        <Class Type="UTable.Input.MultiMouseProvider" Assembly="UTable.Input"/>
      </Provider>
      <!--<Provider>
        <Class Type="UTable.Input.TuioProvider" Assembly="UTable.Input"/>
        <Properties>
          <Property Name="Port" Value="3333"/>
        </Properties>
      </Provider>-->
    </Providers>
  </Input>
</UTable>